.topic {
  .divider {
    background: #1890ff;
  }
 .create-topic {
   ul {
     background: #f1f6fc;
     padding: 10px;
     display: flex;
     margin: 0;
     align-items: center;
     li {
        margin-right: 50px;
     }
   }
 }
 .txt-topic {
   display: flex;
   align-items: center;
   margin-top: 10px;
   button {
     margin-left: 40px;
   }
 }
}